body {
	background-image: url(https://imgnooz.com/sites/default/files/wallpaper/games/59113/magic-gathering-wallpapers-59113-4082492.jpg);
	
	height: 100%;
    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	}



#magic {
	color: orange;
}
#btn {
	text-align: center;
	
}

